header.mainHeader {
height: 520px;
width: 100%;
display: flex;
justify-content: end;
flex-direction: column;
align-items: center;
background-color: #0e7783;
background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

#matt {
  color:#1b1818;
}



@media screen and (min-width: 1024px){

  header.mainHeader {
    justify-content: center;
    margin-top: 250px;
    margin-left: 50px;
    height: 75%;
    width: 35%;
  }

  header.mainHeader img {
    padding-top: 20px;
  }

}