form {
  display: flex;
  flex-direction: column;
}

#tweetButton {
  display: flex;
  align-items: row;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  font-family: bungee;
  font-size: 90%;
}

#counter {
  font-family: bungee;
}