form {
  display: flex;
  flex-direction: column;
}

#tweetButton {
  display: flex;
  align-items: row;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  color: #FFF;
  font-family: bungee;
  font-size: 90%;
}

#counter {
  font-family: bungee;
}

.active {
  color: red;
}

#tweet-text {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-bottom: 5px solid #545149;
  background: none;
  font-size: 20px;
}
#tweet-text::placeholder{
color: #545149;
font-weight: 600;
font-size: 20px;
}
.new-tweet {
margin: 20px 20%;
}