form {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

#tweetButton {
  display: flex;
  align-items: row;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  color: #FFF;
  font-family: bungee;
  font-size: 90%;
}

#counter {
  font-family: bungee;
}

.active {
  color: red;
}

#tweet-text {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-bottom: 5px solid #545149;
  background: none;
  font-size: 20px;
}

#tweet-text::placeholder {
  color: #545149;
  font-weight: 600;
  font-size: 20px;
}

.new-tweet {
  margin: 20px 20%;
}

#error-container {
  display: none;
  border: 5px solid red;
  height: 40%;
  width: 100%;
  margin-bottom: 40px;
  color: red;
  font-weight: bold;
}

#error-symbol {

  padding-left: 170px;
}